@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: 'Trebuchet MS', sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.background{
    background-image: url('./assets/circuit.svg');
    background-size: cover;
    background-clip: content-box;
    background-attachment: fixed;
}